.main-heading {
  @include bold-zero-margin-spacing;
  font-size: 3.7em;
  color: rgba(255, 255, 255, 0.05);

  @media screen and (max-width: 655px) {
    font-size: 3em;
  }

  @media screen and (max-width: 480px) {
    font-size: 2.4em;
  }

  @media screen and (max-width: 380px) {
    font-size: 2em;
  }

  @media screen and (max-width: 320px) {
    font-size: 1.7em;
  }
}

.stat-label {
  @include bold-zero-margin-spacing;
  font-size: 1.6em;

  @media screen and (max-width: 655px) {
    font-size: 1.05em;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.7em;
  }
}

.stats-score {
  @include bold-zero-margin-spacing;
  font-size: 1.75em;

  @media screen and (max-width: 655px) {
    font-size: 1.2em;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.9em;
  }
}
