.main-heading {
  @include bold-zero-margin-spacing;
  font-size: 3.7em;
  color: rgba(255, 255, 255, 0.05);
}

.stat-label {
  @include bold-zero-margin-spacing;
  font-size: 1.6em;
}

.stats-score {
  @include bold-zero-margin-spacing;
  font-size: 1.6em;
}
