@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(35deg);
  }
}
.main-heading {
  text-align: center;
  font-weight: bolder;
  max-height: 85px;
  font-size: 3.7em;
  margin: 0;
}

.current-turn-status-text {
  position: absolute;
  left: 30px;
  top: 15px;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.game-board-cell {
  position: relative;
  border: 2px dotted rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  min-height: 110px;
  min-width: 120px;
}
.game-board-cell.winning-cell {
  animation: rotation infinite 1.4s ease-in-out;
}
.game-board-cell.cell-placeholder {
  background-image: url("../../assets/pictures/question-mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105px;
  opacity: 0.4;
}
.game-board-cell.locked.x::before, .game-board-cell.locked.x::after, .game-board-cell:hover.x::before, .game-board-cell:hover.x::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 24px;
  margin: 0;
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 7px;
}
.game-board-cell.locked.x::before, .game-board-cell:hover.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.game-board-cell.locked.x::after, .game-board-cell:hover.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.game-board-cell.locked.o::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 82px;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 21px solid white;
  border-radius: 50%;
}
.game-board-cell:not(.locked) {
  cursor: pointer;
  opacity: 0.4;
}
.game-board-cell:not(.locked):hover {
  opacity: 0.8;
}

.start-game-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-color: rgba(255, 255, 255, 0.895);
  width: 9em;
  height: 3em;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.895);
  border-radius: 20px;
  color: black;
}
.start-game-button:hover {
  opacity: 0.8;
}

.reset-game-board-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-color: rgba(255, 255, 255, 0.895);
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 157px;
  height: 2.3em;
  font-size: large;
  border-radius: 20px;
}
.reset-game-board-button:hover {
  opacity: 0.8;
}

.toggle-sound-mode-button {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 15px;
  height: 55px;
  width: 50px;
}
.toggle-sound-mode-button:hover {
  opacity: 0.8;
}

.main-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 50px;
  height: 100%;
}

.game-board-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

@font-face {
  font-family: "Oswald";
  src: url(../../assets/fonts/Oswald-VariableFont_wght.ttf);
}
body {
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: rgb(0, 0, 6);
  height: 98vh;
  user-select: none;
}
body .hidden {
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
