@keyframes scale-size-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes border-color-pulse {
  0% {
    border-color: white;
  }
  50% {
    border-color: #a7a9e8;
  }
  100% {
    border-color: white;
  }
}
@keyframes background-color-pulse {
  0% {
    background: white;
  }
  50% {
    background: #a7a9e8;
  }
  100% {
    background: white;
  }
}
.main-heading {
  margin: 0;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 3.7em;
  color: rgba(255, 255, 255, 0.05);
}

.stat-label {
  margin: 0;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 1.6em;
}

.stats-score {
  margin: 0;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 1.75em;
}

.game-board-cell {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  min-height: 110px;
  min-width: 120px;
  transition: all 0.35s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(255, 255, 255, 0.2);
  opacity: 0.4;
}
.game-board-cell:not(.locked):hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 15px rgba(255, 255, 255, 0.4);
  opacity: 0.8;
  cursor: pointer;
}
.game-board-cell.locked {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.4);
  opacity: 1;
  cursor: default;
}
.game-board-cell .game-board-cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110px;
  min-width: 120px;
}
.game-board-cell.X.locked .game-board-cell-content::before, .game-board-cell.X.locked .game-board-cell-content::after, .game-board-cell.X:hover .game-board-cell-content::before, .game-board-cell.X:hover .game-board-cell-content::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 24px;
  margin: 0;
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(45deg);
}
.game-board-cell.X.locked .game-board-cell-content::after, .game-board-cell.X:hover .game-board-cell-content::after {
  transform: translate(-50%, -50%) rotate(-45deg) !important;
}
.game-board-cell.O.locked .game-board-cell-content::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 82px;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 21px solid white;
  border-radius: 50%;
}
.game-board-cell.placeholder-cell {
  opacity: 0.4;
}
.game-board-cell.placeholder-cell .game-board-cell-content {
  background-image: url("../../assets/pictures/question-mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105px;
}
.game-board-cell.winning-cell .game-board-cell-content {
  animation: scale-size-pulse infinite 0.65s ease-in-out;
}
.game-board-cell.winning-cell.O .game-board-cell-content::before {
  animation: border-color-pulse infinite 0.3s ease-in-out;
}
.game-board-cell.winning-cell.X .game-board-cell-content::before, .game-board-cell.winning-cell.X .game-board-cell-content::after {
  animation: background-color-pulse infinite 0.3s ease-in-out;
}

.reset-game-board-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 45px;
  padding: 15px;
  color: white;
  background-color: #2f3047;
  border-radius: 10px;
  border: 2.5px solid white;
  box-shadow: 0 3.2px 3.2px -3.2px white;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  transition: transform 0.25s, box-shadow 0.25s;
  cursor: pointer;
}
.reset-game-board-button:hover {
  transform: translateY(-0.25em) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 8px 8px -6.4px white;
}

.toggle-sound-mode-button {
  position: absolute;
  right: 15px;
  top: 13px;
  height: 35px;
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
}
.toggle-sound-mode-button:hover {
  opacity: 1;
}

.main-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 22px;
  height: 100%;
  max-width: 605px;
}

.game-board-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  margin-top: 13px;
}

.stats-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 80%;
}

.stats-scores-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-score-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 auto;
  width: 100%;
}

@font-face {
  font-family: "Raleway";
  src: url(../../assets/fonts/Raleway.ttf);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  height: 98vh;
  color: white;
  background-color: #202132;
  user-select: none;
}
body .hidden {
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
