@font-face {
  font-family: mainFont;
  src: url(../../assets/fonts/Oswald-VariableFont_wght.ttf);
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
.content-wrapper > div {
  height: 100%;
  flex: 1 1 auto;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 500px;
  width: 550px;
  padding: 5px;
  border: 5px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

.turn-display-container {
  min-width: 245px;
  margin-left: 200px;
}

#winner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3em;
  width: 500px;
  height: 200px;
}
#winner-container.off {
  visibility: hidden;
}

.side-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  max-height: 85px;
  font-size: 3.7em;
  user-select: none;
}

#turn-display {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 2em;
  user-select: none;
}
#turn-display.off {
  opacity: 0.7;
}

#winner-text {
  font-weight: bolder;
  animation: flip 1.5s infinite alternate-reverse;
  font-size: 2.7em;
  user-select: none;
}

.action-button {
  background-repeat: no-repeat;
  background-position: center;
  border: 2px dotted rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  height: 90px;
  width: 100px;
}
.action-button:not(.disabled) {
  opacity: 0.38;
}
.action-button:not(.disabled):not(.empty-logo):hover {
  cursor: pointer;
  opacity: 0.82;
}

.empty-logo {
  background-image: url("../../assets/pictures/Empty.png");
  background-size: 105px;
}

.player-1 {
  background-size: 135px;
}
.player-1.disabled:not(.off) {
  background-image: url("../../assets/pictures/O-White.png");
}
.player-1:hover:not(.off) {
  background-image: url("../../assets/pictures/O-White.png");
}

.player-2 {
  background-size: 81px;
}
.player-2.disabled:not(.off) {
  background-image: url("../../assets/pictures/X-White.png");
}
.player-2:hover:not(.off) {
  background-image: url("../../assets/pictures/X-White.png");
}

.disabled {
  opacity: 1;
}

#start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0.895);
  color: black;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
#start-button:hover {
  opacity: 0.8;
}
#start-button.off {
  visibility: hidden;
}

#restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.895);
  color: black;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  width: 157px;
  height: 2.3em;
  font-size: large;
}
#restart-button:hover {
  opacity: 0.8;
}

.winner-button {
  animation: rotation infinite 1.4s ease-in-out;
}

#sound-button {
  margin-left: 15px;
  height: 55px;
  width: 50px;
  user-select: none;
  cursor: pointer;
}
#sound-button:hover {
  opacity: 0.8;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(35deg);
  }
}
@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}
body {
  font-family: mainFont;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 6);
}

/*# sourceMappingURL=style-index.css.map */
