.game-board-cell {
  @include button-hover-effects;
  position: relative;
  border: 2px dotted rgba(white, 0.815);
  border-radius: 20px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  min-height: 110px;
  min-width: 120px;
  transition: all 0.35s;
  opacity: 0.4;

  &.locked {
    opacity: 1;
  }

  .game-board-cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    min-width: 120px;
  }

  &.x {
    &.locked,
    &:hover {
      .game-board-cell-content {
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 125px;
          height: 24px;
          margin: 0;
          left: 50%;
          top: 50%;
          background-color: white;
          border-radius: 7px;
          transform: translate(-50%, -50%);
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg) !important;
        }
      }
    }
  }

  &.o.locked {
    .game-board-cell-content::before {
      content: '';
      position: absolute;
      width: 82px;
      height: 82px;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 21px solid white;
      border-radius: 50%;
    }
  }

  &.winning-cell {
    .game-board-cell-content {
      animation: rotation infinite 1.4s ease-in-out;
    }
  }

  &.placeholder-cell {
    opacity: 0.4;

    .game-board-cell-content {
      background-image: url('../../assets/pictures/question-mark.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 105px;
    }
  }
}

.start-game-button {
  @include generic-button-styles;
  @include interface-button-hover-effects;

  max-height: 62px;
  font-size: 2em;
  padding: 15px;
  border-radius: 10px;
}

.reset-game-board-button {
  @include generic-button-styles;
  @include interface-button-hover-effects;

  position: absolute;
  left: 20px;
  bottom: 15px;
  max-height: 45px;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.toggle-sound-mode-button {
  @include button-hover-effects;

  position: absolute;
  right: 25px;
  top: 15px;
  height: 55px;
  width: 50px;
}
