.game-board-cell {
  position: relative;
  border: 2px dotted rgba(white, 0.815);
  border-radius: 20px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  min-height: 110px;
  min-width: 120px;

  &.winning-cell {
    animation: rotation infinite 1.4s ease-in-out;
  }

  &.cell-placeholder {
    background-image: url('../../assets/pictures/question-mark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105px;
    opacity: 0.4;
  }

  &.x::before,
  &.x::after {
    content: '';
    position: absolute;
    width: 125px;
    height: 24px;
    margin: 0;
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 7px;
  }

  &.x::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &.x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &.o::before {
    content: '';
    position: absolute;
    width: 82px;
    height: 82px;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 21px solid white;
    border-radius: 50%;
  }

  &:not(.locked) {
    @include button-hover-effects;
    opacity: 0.4;

    &:not(:hover) {
      &::before,
      &::after {
        border: unset;
        background-color: unset;
      }
    }
  }
}

.start-game-button {
  @include button-hover-effects;
  @include generic-button-styles;

  width: 9em;
  height: 3em;
  font-size: 2em;
  background-color: rgba(white, 0.895);
  border-radius: 20px;
  color: black;
}

.reset-game-board-button {
  @include button-hover-effects;
  @include generic-button-styles;

  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 157px;
  height: 2.3em;
  font-size: large;
  border-radius: 20px;
}

.toggle-sound-mode-button {
  @include button-hover-effects;

  position: absolute;
  right: 25px;
  top: 15px;
  height: 55px;
  width: 50px;
}
