.game-board-cell {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 20px;
  margin: 16px;
  font-size: 30px;
  min-height: 110px;
  min-width: 120px;
  transition: all 0.35s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2),
    inset 0 0 7px rgba(255, 255, 255, 0.2);
  opacity: 0.4;

  &:not(.locked):hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4),
      inset 0 0 15px rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    cursor: pointer;
  }

  &.locked {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4),
      inset 0 0 10px rgba(255, 255, 255, 0.4);
    opacity: 1;
    cursor: default;
  }

  .game-board-cell-content {
    @include flex-justify-align-center;
    min-height: 110px;
    min-width: 120px;
  }

  &.x {
    &.locked,
    &:hover {
      .game-board-cell-content {
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 125px;
          height: 24px;
          margin: 0;
          left: 50%;
          top: 50%;
          background-color: white;
          border-radius: 7px;
          transform: translate(-50%, -50%);
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg) !important;
        }
      }
    }
  }

  &.o.locked {
    .game-board-cell-content::before {
      content: '';
      position: absolute;
      width: 82px;
      height: 82px;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 21px solid white;
      border-radius: 50%;
    }
  }

  &.placeholder-cell {
    opacity: 0.4;

    .game-board-cell-content {
      background-image: url('../../assets/pictures/question-mark.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 105px;
    }
  }

  &.winning-cell {
    .game-board-cell-content {
      animation: scale-size-pulse infinite 0.65s ease-in-out;
    }

    &.o {
      .game-board-cell-content::before {
        animation: border-color-pulse infinite 0.3s ease-in-out;
      }
    }

    &.x {
      .game-board-cell-content {
        &::before,
        &::after {
          animation: background-color-pulse infinite 0.3s ease-in-out;
        }
      }
    }
  }
}

.reset-game-board-button {
  @include flex-justify-align-center;

  max-height: 45px;
  padding: 15px;
  color: white;
  background-color: #2f3047;
  border-radius: 10px;
  border: 2.5px solid white;
  box-shadow: 0 3.2px 3.2px -3.2px white;
  font-size: 1.1em;
  font-weight: bold;
  // This line ensures that the font is applied to the button.
  font-family: 'Oswald', sans-serif;
  transition: transform 0.25s, box-shadow 0.25s;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.25em) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    box-shadow: 0 8px 8px -6.4px white;
  }
}

.toggle-sound-mode-button {
  position: absolute;
  right: 15px;
  top: 13px;
  height: 35px;
  width: 30px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
