.main-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 30px;
  height: 100%;
}

.game-board-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  border: 3px solid rgba(white, 0.05);
  border-radius: 20px;
}
