.main-content-container {
  @include flex-align-center-col;
  justify-content: space-between;
  position: relative;
  gap: 30px;
  height: 100%;
  max-width: 605px;
}

.game-board-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  border: 3px solid rgba(white, 0.05);
  border-radius: 20px;
}

.stats-main-container {
  @include flex-align-center-col;
  gap: 40px;
  width: 80%;
}

.stats-scores-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-score-box {
  @include flex-align-center-col;
  gap: 15px;
  flex: 1 1 auto;
  width: 100%;
}
