@keyframes scale-size-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes border-color-pulse {
  0% {
    border-color: white;
  }
  50% {
    border-color: #a7a9e8;
  }
  100% {
    border-color: white;
  }
}

@keyframes background-color-pulse {
  0% {
    background: white;
  }
  50% {
    background: #a7a9e8;
  }
  100% {
    background: white;
  }
}
