@mixin button-hover-effects {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@mixin generic-button-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  // This line ensures that the font is applied to certain buttons.
  font-family: 'Oswald', sans-serif;
  background-color: rgba(white, 0.895);
}
