@mixin button-hover-effects {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@mixin generic-button-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  // This line ensures that the font is applied to certain buttons.
  font-family: 'Oswald', sans-serif;
  background-color: rgba(white, 0.895);
}

@mixin interface-button-hover-effects {
  border-radius: 10px;
  color: steelblue;
  border: 2.7px solid steelblue;

  // Adjust the linear gradient to start from the top
  background-image: linear-gradient(to bottom, steelblue 50%, white 50%);
  background-size: 200% 200%;
  background-position: 0 100%; /* Change the starting position to top */

  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    background-position: 0 0;
    color: white;
    border-color: white;
  }
}