.actionButton {
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dotted rgba(255, 255, 255, 0.815);
    border-radius: $main-radius;
    padding: 20px;
    margin: 16px;
    font-size: 30px;
    height: 90px;
    width: 100px;
    &.playing:not(.locked) {
        opacity: 0.38;
    }
    &.playing:not(.locked):hover {
        cursor: pointer;
        opacity: 0.82;
    }
}

.defaultLogo {
    background-image: url('../../assets/pictures/thinking.png');
    background-size: 105px;
}

.buttonO {
    &.locked:not(.gameOver) {
        background-image: url('../../assets/pictures/O.png');
    }
    &:hover:not(.gameOver) {
        background-image: url('../../assets/pictures/O.png');
    }
    background-size: 135px;
}

.buttonX {
    background-size: 81px;
    &.locked:not(.gameOver) {
        background-image: url('../../assets/pictures/X.png');
    }
    &:hover:not(.gameOver) {
        background-image: url('../../assets/pictures/X.png');
    }
}

.locked {
    opacity: 1;
}

.startButton {
    @include button-pop-up;
    background-color: $buttons-background;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.257);
    text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.59);
    border-radius: $main-radius;
    font-size: 2em;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &.playing {
        visibility: hidden;
    }
}

.restartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 2.3em;
    font-size: large;
    margin: 0 13px 55px;
    background-color: $buttons-background;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.257);
    text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.59);
    border-radius: $main-radius;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.winnerButton {
    animation: rotation infinite 1.4s ease-in-out;
}

.soundButton {
    margin-left: 15px;
    height: 55px;
    width: 50px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
