.actionButton {
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dotted rgba(255, 255, 255, 0.815);
    border-radius: $main-radius;
    padding: 20px;
    margin: 16px;
    font-size: 30px;
    height: 90px;
    width: 100px;
    &.playing:not(.locked) {
        opacity: 0.38;
    }
    &.playing:not(.locked):hover {
        cursor: pointer;
        opacity: 0.82;
    }
}

.defaultLogo {
    background-image: $Thinking-image-url;
    background-size: 105px;
}

.buttonO {
    &.locked:not(.gameOver) {
        background-image: $O-image-url;
    }
    &:hover:not(.gameOver) {
        background-image: $O-image-url;
    }
    background-size: 135px;
}

.buttonX {
    background-size: 81px;
    &.locked:not(.gameOver) {
        background-image: $X-image-url;
    }
    &:hover:not(.gameOver) {
        background-image: $X-image-url;
    }
}

.locked {
    opacity: 1;
}

.startButton {
    @include button-pop-up;
    @include button-main-design;
    font-size: 2em;
    &.playing {
        visibility: hidden;
    }
}

.restartButton {
    @include center-items-flex-display;
    @include button-main-design;
    width: 157px;
    height: 2.3em;
    font-size: large;
    margin: 0 13px 55px;
}

.winnerButton {
    animation: rotation infinite 1.4s ease-in-out;
}

.soundButton {
    margin-left: 15px;
    height: 55px;
    width: 50px;
}
