#mainTitleContainer {
    @include center-items-flex-display;
    max-height: 200px;
    width: 100%;
}

.boardContainer {
    @include center-items-flex-display;
    margin-top: 45px;
}

.gameBoard {
    @include center-items-flex-display;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    width: 550px;
    padding: 5px;
    border: 5px solid rgba(255, 255, 255, 0.05);
    border-radius: $main-radius;
}

#turnsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 15px;
}

#winnerContainer {
    @include button-pop-up;
    width: 500px;
    height: 200px;
    top: 18%;
    left: 85.5%;
    &.off {
        visibility: hidden;
    }
}

.restartAndMuteContainer {
    display: flex;
    flex-direction: row;
}
