.content-wrapper {
    @include flex-center;
    height: 98vh;

    > div {
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
    }
}

.board-container {
    @include flex-center;
}

.turn-display-container {
    width: 200px;
    margin: 0 auto;
}

.start-button-container {
    @include flex-center;
}

.left-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-container {
    display: flex;
    justify-content: flex-end;
}

.mid-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.game-board {
    @include flex-center;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    width: 550px;
    margin-top: 20px;
    padding: 5px;
    border: 3px solid rgba(white, 0.05);
    border-radius: $main-radius;
}

#winner-container {
    width: 9em;
    height: 3em;
    width: 500px;
    height: 200px;
    &.off {
        visibility: hidden;
    }
}
