.mainTitleContainer {
    @include container-main-title-aligned;
}

.boardContainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.gameBoard {
    @include container-board-aligned;
    @include container-board-designed;
}

.turnsDisplayContainer {
    @include container-turns-designed-aligned;
}

.winnerContainer {
    @include button-pop-up-middle;
    width: 500px;
    height: 200px;
    top: 18%;
    left: 85.5%;
    &.playing {
        visibility: hidden;
    }
}

.restartAndMuteContainer {
    display: flex;
    flex-direction: row;
}
