@font-face {
    font-family: mainFont;
    src: url(../../assets/fonts/Tomorrow-Medium.ttf);
}

@mixin big-title-designed {
    font-weight: bolder;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.084);
    text-shadow: 0 1px 1.5px white;
}

@mixin button-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 3em;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
}
