h1 {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  max-height: 85px;
  font-size: 3.7em;
  user-select: none;
}

.current-turn-display {
  color: white;
  font-size: 2em;
  font-weight: 500;
  user-select: none;
  &.off {
    opacity: 0.7;
  }
}
