$main-radius: 20px;
$main-text-color: rgb(94, 86, 238);
$Player-1-image: url('../../assets/pictures/X.png');
$Player-2-image: url('../../assets/pictures/O.png');
$Empty-image-url: url('../../assets/pictures/Empty.png');
