$main-radius: 20px;
$main-text-color: white;
$Player-1-image: url('../../assets/pictures/x-icon.png');
$Player-2-image: url('../../assets/pictures/o-icon.png');
$Empty-image-url: url('../../assets/pictures/question-mark.png');
