$main-radius: 20px;
$main-text-color: white;
$Player-1-image: url('../../assets/pictures/X-White.png');
$Player-2-image: url('../../assets/pictures/O-White.png');
$Empty-image-url: url('../../assets/pictures/Empty.png');
