@import 'conatiners';
@import 'texts';
@import 'buttons';
@import 'keyframes';

@font-face {
  font-family: 'Oswald';
  src: url(../../assets/fonts/Oswald-VariableFont_wght.ttf);
}

body {
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: rgb(0, 0, 6);

  // This line ensures that the font is applied to certain elements that previously didn't have it.
  * {
    font-family: 'Oswald', sans-serif;
  }
}
