@import './abstracts/keyframes';
@import './abstracts/mixins';
@import './base/typography';
@import './components/buttons';
@import './components/containers';

@font-face {
  font-family: 'Oswald';
  src: url(../../assets/fonts/Oswald-VariableFont_wght.ttf);
}

body {
  @include flex-justify-align-center;
  font-family: 'Oswald', sans-serif;
  height: 98vh;
  color: white;
  background-color: #202132;
  user-select: none;

  .hidden {
    visibility: hidden;
  }
}
