@import './abstracts/keyframes';
@import './abstracts/mixins';
@import './base/typography';
@import './components/buttons';
@import './components/containers';

@font-face {
  font-family: 'Raleway';
  src: url(../../assets/fonts/Raleway.ttf);
}

body {
  @include flex-justify-align-center;
  font-family: 'Raleway', sans-serif;
  height: 98vh;
  color: white;
  background-color: #202132;
  user-select: none;

  .hidden {
    visibility: hidden;
  }
}
