@import 'variables';
@import 'mixings';
@import 'conatiners';
@import 'texts';
@import 'buttons';
@import 'keyframes';

body {
    font-family: mainFont;
    color: $text-color;
    background-color: $background-color;
}
